sca-wf-taskdeps .task {
  position: relative;
}
sca-wf-taskdeps .task-status {
  font-size: 20pt;
  position: absolute;
  left: 0px;
  top: -5px;
  padding: 3px;
  border-radius: 100%;
  background-color: #ccc;
  color: white;
}
sca-wf-taskdeps h4 {
  margin-top: 5px;
}
sca-wf-taskdeps .task-header {
  margin-left: 20px;
  padding-left: 40px;
}
sca-wf-taskdeps .task-body {
  margin-left: 20px;
  padding-left: 40px;
  padding-bottom: 10px;
}
sca-wf-taskdeps .task:not(:last-child) .task-body-dep {
  border-left: 1px dashed #ddd;
}
sca-wf-taskdeps .clickable:hover {
  cursor: pointer;
}
.sca-wf-uploader .file-uploaded:hover {
  background-color: #eee;
  cursor: pointer;
}
.sca-wf-uploader .file {
  color: black;
}
.sca-wf-uploader ul.list-group {
  margin-bottom: 0px;
}
.sca-wf-uploader .clickable:hover {
  cursor: pointer;
}
.sca-sidebar-page {
  padding-left: 80px;
}
.sca-sidebar {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 999;
  width: 80px;
  height: 100%;
  background-color: #f0f0f0;
  border-right: 1px solid #eee;
  text-align: center;
}
.sca-sidebar .menu {
  color: #bbb;
  width: 80px;
  transition: 0.5s ease all;
  cursor: pointer;
  margin: 3px 0px;
  padding: 8px;
  font-size: 8pt;
}
.sca-sidebar .menu h2 {
  color: #878787;
  font-weight: bold;
  font-size: 21px;
}
.sca-sidebar .menu h3 {
  margin-top: 0;
  margin-bottom: 5px;
  color: #777;
  text-transform: uppercase;
  font-size: 18px;
}
.sca-sidebar .menu:hover {
  background-color: #ddd;
  color: #008cba;
}
.sca-sidebar .menu:hover h3 {
  color: #008cba;
}
.sca-sidebar .menu.active {
  background-color: #008cba;
  color: white;
}
.sca-sidebar .menu.active h3 {
  color: white;
}
.sca-sidebar .bottom {
  position: fixed;
  bottom: 0px;
  width: 80px;
}
.sca-sidebar hr {
  margin: 5px 0px;
}
