
<div ng-repeat="task in tasks" class="task">

    <div class="task-header">
        <span ng-switch="task.status" class="task-status">
            <i class="fa fa-exclamation fa-fw" aria-hidden="true" ng-switch-when="failed"></i>
            <i class="fa fa-stop fa-fw" aria-hidden="true" ng-switch-when="stopped"></i>
            <i class="fa fa-stop fa-fw" aria-hidden="true" ng-switch-when="stop_requested"></i>
            <i class="fa fa-check fa-fw" aria-hidden="true" ng-switch-when="finished"></i>
            <i class="fa fa-hourglass-start fa-fw" aria-hidden="true" ng-switch-when="requested"></i>
            <i class="fa fa-cog fa-spin fa-fw" aria-hidden="true" ng-switch-when="running_sync"></i>
            <i class="fa fa-cog fa-spin fa-fw" aria-hidden="true" ng-switch-when="running"></i>
            <i class="fa fa fa-fw" aria-hidden="true" ng-switch-default></i>
        </span>
        <h4>
            <small>{{task.status|uppercase}}</small>
            {{task.service_id}} 
        </h4>
    </div>
    <div class="task-body task-body-dep">
        <!--
        <a href="{{conf.progress_url}}/#/detail/{{dep.progress_key}}" target="{{dep.progress_key}}" class="pull-right">
            <small>Progress</small>
        </a>
        -->
        <div class="row">
            <div class="col-md-6"> 
                <div ng-if="task.status != 'running' || !task._progress">
                    <small>{{task.status_msg}}</small>
                </div>
                <div ng-if="task.status == 'running' && task._progress" class="clickable">
                    <!--{{task._progress.status|uppercase}}<br>-->
                    <small>{{task._progress.msg}}</small>
                </div>
                <p><small>
                    <span ng-if="task._progress">
                        <a href="{{appconf.progress_url}}/#/detail/{{task.progress_key}}" target="{{task.progress_key}}">{{task._progress.progress*100|number}}% Completed</a>
                        <br>
                    </span>
                    <span ng-if="task.request_date"> 
                        <i class="fa fa-clock-o" aria-hidden="true"></i> Requested at <time>{{task.request_date|date:'short'}}</time> <br></span>
                    <span ng-if="task.start_date"> 
                        <i class="fa fa-clock-o" aria-hidden="true"></i> Started at <time>{{task.start_date|date:'short'}}</time> <br></span>
                    <span ng-if="task.finish_date"> 
                        <i class="fa fa-clock-o" aria-hidden="true"></i> Finished at <time>{{task.finish_date|date:'short'}}</time> <br></span>
                </small></p>
            </div>
            <div class="col-md-4">
                <pre style="font-size: 50%;">{{task.config|json}}</pre>
            </div>
            <div class="col-md-2" class="text-muted"> 
                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-xs btn-danger" ng-click="stop(task)"
                        ng-if="task.status == 'running' || task.status == 'running_sync'"><i class="fa fa-stop" aria-hidden="true"></i> Stop
                    </button>
                    <button type="button" class="btn btn-default btn-xs" ng-click="rerun(task)"
                        ng-if="task.status == 'failed' || task.status == 'finished' || task.status == 'stopped'">
                        <i class="fa fa-repeat" aria-hidden="true"></i> Rerun
                    </button>
                    <button type="button" class="btn btn-default btn-xs" ng-click="task._show = !task._show">
                        <i class="fa fa-cog" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>

        <pre style="font-size: 50%;" ng-if="task._show" class="slide-down">{{task|json}}</pre>

    </div>
</div>
