<div ng-repeat="task in tasks" class="task">
        <div class="task-header">
            <span ng-if="task.status == 'failed'" class="task-status" style="background-color: #a94442"><i class="fa fa-exclamation fa-fw" aria-hidden="true"></i></span>
            <span ng-if="task.status == 'stopped'" class="task-status"><i class="fa fa-stop fa-fw" aria-hidden="true"></i></span>
            <span ng-if="task.status == 'stop_requested'" class="task-status"><i class="fa fa-stop fa-fw" aria-hidden="true"></i></span>
            <span ng-if="task.status == 'finished'" class="task-status" style="background-color: #3c763d"><i class="fa fa-check fa-fw" aria-hidden="true"></i></span>
            <span ng-if="task.status == 'requested'" class="task-status"><i class="fa fa-hourglass-start fa-fw" aria-hidden="true"></i></span>
            <span ng-if="task.status == 'running_sync'" class="task-status"><i class="fa fa-cog fa-spin fa-fw" aria-hidden="true"></i></span>
            <span ng-if="task.status == 'running'" class="task-status"><i class="fa fa-cog fa-spin fa-fw" aria-hidden="true"></i></span>
            <h4 style="margin-bottom: 0px;">
                <small>{{task.status|uppercase}}</small>
                {{task.service_id}} 
                <br>
            </h4>
        </div>
        <div class="task-body task-body-dep">
            <div class="row">
                <div class="col-md-5"> 
                    <p class="help-block">
                        <span ng-if="!task._progress">{{task.status_msg}}</span>
                        <span ng-if="task._progress">{{task._progress.msg}}</span>
                    </p>
                    <small>
                        <p ng-if="task.request_date"> 
                            <i class="fa fa-clock-o" aria-hidden="true"></i> Requested at <time>{{task.request_date|date:'short'}}</time>
                        </p>
                        <p ng-if="task.start_date"> 
                            <i class="fa fa-clock-o" aria-hidden="true"></i> Started at <time>{{task.start_date|date:'short'}}</time>
                        </p>
                        <p ng-if="task.finish_date"> 
                            <i class="fa fa-clock-o" aria-hidden="true"></i> Finished at <time>{{task.finish_date|date:'short'}}</time>
                        </p>

                        <p ng-if="task.progress_key">
                            <a href="{{appconf.progress_url}}/#/detail/{{task.progress_key}}" target="{{task.progress_key}}">
                            <i class="fa fa-coffee" aria-hidden="true"></i>
                            <span ng-if="task._progress.progress">{{task._progress.progress*100|number}}% Completed</span>
                            <span ng-if="!task._progress.progress">Progress</span>
                            </a>
                        </p>
                    </small>
                </div>
                <div class="col-md-5">
                    <span class="help-block clickable" ng-click="task.show_param = !task.show_param">
                        <i class="fa fa-caret-right" aria-hidden="true" ng-if="!task.show_param"></i>
                        <i class="fa fa-caret-down" aria-hidden="true" ng-if="task.show_param"></i>
                        Config / ENVs</span>
                    <div ng-if="task.show_param" class="slide-down">
                        <pre style="font-size: 60%;">{{task.config|json}}</pre>
                        <pre style="font-size: 60%;" ng-if="task._envs">{{task._envs|json}}</pre>
                    </div>

                    <div ng-if="task.products">
                        <span class="help-block clickable" ng-click="task.show_products = !task.show_products">
                            <i class="fa fa-caret-right" aria-hidden="true" ng-if="!task.show_products"></i>
                            <i class="fa fa-caret-down" aria-hidden="true" ng-if="task.show_products"></i>
                            Products</span>
                        <pre style="font-size: 60%;" ng-if="task.show_products" class="slide-down" ng-if="task.products">{{task.products|json}}</pre>
                    </div>
                </div>
                <div class="col-md-2" class="text-muted"> 
                    <div class="btn-group pull-right">
                         <button type="button" class="btn btn-xs btn-danger" ng-click="stop(task)"
                            ng-if="task.status == 'running' || task.status == 'running_sync'"><i class="fa fa-stop" aria-hidden="true"></i> Stop
                        </button>
                       <button type="button" class="btn btn-default btn-xs" ng-click="rerun(task)"
                            ng-if="task.status == 'failed' || task.status == 'finished' || task.status == 'stopped'">
                            <i class="fa fa-repeat" aria-hidden="true"></i> Rerun
                        </button>
                        <button type="button" class="btn btn-default btn-xs" ng-click="task._show = !task._show">
                            <i class="fa fa-cog" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div><!--row-->
        <pre style="font-size: 50%;" ng-if="task._show" class="slide-down">{{task|json}}</pre>
    </div><!--task-body-->
</div><!--task ng-repeat-->
