
<!--TODO..refactor dep list and task .. which are very similar at the moment-->
<div ng-repeat="dep in deps" class="task">
    <div class="task-header">
        <span ng-switch="dep.status">
            <i class="fa fa-check-circle task-circle" aria-hidden="true" ng-switch-when="'finished'"></i>
            <i class="fa fa-spinner fa-pulse task-circle" aria-hidden="true" ng-switch-when="'running'"></i>
            <i class="fa fa-circle task-circle" aria-hidden="true" ng-switch-default></i>
        </span>
        <h3>{{dep.service_id}}</h3>
    </div>
    <div class="task-body task-body-dep">
        <!--
        <a href="{{conf.progress_url}}/#/detail/{{dep.progress_key}}" target="{{dep.progress_key}}" class="pull-right">
            <small>Progress</small>
        </a>
        -->
        {{dep._progress|json}}

        <h4>
            <i class="fa fa-spinner fa-pulse" ng-if="dep.status == 'running' || dep.status == 'running_sync'"></i>
            {{dep.status|uppercase}}
            <small>{{dep.status_msg}}</small>
        </h4>

        <pre style="font-size: 50%;">TODO(config) {{dep.config|json}}</pre>
        <!--
        <center style="font-size: 30pt"><i class="fa fa-arrow-circle-down" aria-hidden="true"></i></center>
        -->
        <!--<ng-include ng-init="dep = dep" src="'taskcontroller.html'"></ng-include>-->
        <button type="button" class="btn btn-xs btn-danger" ng-click="stop(dep)"
            ng-if="dep.status == 'running' || dep.status == 'running_sync'"><i class="fa fa-stop" aria-hidden="true"></i> Stop
        </button>
        <button type="button" class="btn btn-xs btn-warning" ng-click="rerun(dep)"
            ng-if="dep.status == 'failed' || dep.status == 'finished' || dep.status == 'stopped'">
            <i class="fa fa-repeat" aria-hidden="true"></i> Rerun
        </button>
    </div>
</div>

<div class="task">
    <div class="task-header">
        <span ng-switch="task.status">
            <i class="fa fa-check-circle task-circle" aria-hidden="true" ng-switch-when="finished"></i>
            <i class="fa fa-spinner fa-pulse task-circle" aria-hidden="true" ng-switch-when="running"></i>
            <i class="fa fa-circle task-circle" aria-hidden="true" ng-switch-default></i>
        </span>
        <h3>{{task.status|uppercase}} {{task.service_id}}</h3>
    </div>
    <div class="task-body">

        <!--
        <a href="{{conf.progress_url}}/#/detail/{{task.progress_key}}" target="{{task.progress_key}}" class="pull-right">
            <small>Progress</small>
        </a>
        -->
        {{task._progress|json}}

        <!--
        <h4>
            <i class="fa fa-spinner fa-pulse" ng-if="task.status == 'running' || dep.status == 'running_sync'"></i>
            {{task.status|uppercase}}
            <small>{{task.status_msg}}</small>
        </h4>
        -->
        <p>
            <small>{{task.status_msg}}</small>
        </p>

        <button type="button" class="btn btn-xs btn-danger" ng-click="stop(task)"
            ng-if="task.status == 'running'"><i class="fa fa-stop" aria-hidden="true"></i> Stop
        </button>
        <button type="button" class="btn btn-xs btn-warning" ng-click="rerun(task)"
            ng-if="task.status == 'failed' || task.status == 'finished' || task.status == 'stopped'">
            <i class="fa fa-repeat" aria-hidden="true"></i> Rerun
        </button>
        <button type="button" class="btn btn-xs pull-right" ng-click="show_debug[task._id] = !show_debug[task._id]"><i class="fa fa-eye" aria-hidden="true"></i></b></button>
        <pre style="font-size: 50%;" ng-if="show_debug[task._id]">{{task|json}}</pre>
    </div>
</div><!--task-->

<!--
<pre>{{_deps|json}}</pre>
<pre>{{task|json}}</pre>
-->
