<div ng-repeat="task in tasks" class="task">
        <div class="task-header">
            <div class="btn-group pull-right">
                <button type="button" class="btn btn-xs btn-danger" ng-click="stop(task)"
                    ng-if="task.status == 'running' || task.status == 'running_sync'"><i class="fa fa-stop" aria-hidden="true"></i> Stop
                </button>
                <button type="button" class="btn btn-default btn-xs" ng-click="rerun(task)"
                    ng-if="task.status == 'failed' || task.status == 'finished' || task.status == 'stopped' || task.status == 'removed'">
                    <i class="fa fa-repeat" aria-hidden="true"></i> Rerun
                </button>
                <button type="button" class="btn btn-default btn-xs" ng-click="task._show = !task._show">
                    Debug
                    <i class="fa fa-caret-down" aria-hidden="true" ng-show="!task._show"></i>
                    <i class="fa fa-caret-up" aria-hidden="true" ng-show="task._show"></i>
                </button>
            </div>
            <span ng-if="task.status == 'failed'" class="task-status" style="background-color: #a94442"><i class="fa fa-exclamation fa-fw" aria-hidden="true"></i></span>
            <span ng-if="task.status == 'stopped'" class="task-status" style="background-color: #aa6708"><i class="fa fa-stop fa-fw" aria-hidden="true"></i></span>
            <span ng-if="task.status == 'stop_requested'" class="task-status"><i class="fa fa-stop fa-fw" aria-hidden="true"></i></span>
            <span ng-if="task.status == 'finished'" class="task-status" style="background-color: #3c763d"><i class="fa fa-check fa-fw" aria-hidden="true"></i></span>
            <span ng-if="task.status == 'requested'" class="task-status"><i class="fa fa-hourglass-start fa-fw" aria-hidden="true"></i></span>
            <span ng-if="task.status == 'running_sync'" class="task-status"><i class="fa fa-cog fa-spin fa-fw" aria-hidden="true"></i></span>
            <span ng-if="task.status == 'running'" class="task-status"><i class="fa fa-cog fa-spin fa-fw" aria-hidden="true"></i></span>
            <span ng-if="task.status == 'removed'" class="task-status"><i class="fa fa-trash fa-fw" aria-hidden="true"></i></span>
            <h4 style="margin-bottom: 0px;">
                <span style="color: black;">{{task.status|uppercase}}</span>
                <small>{{task.service}}</small>
            </h4>
        </div>
        <div class="task-body task-body-dep">
            <div class="row">
                <div class="col-md-5"> 
                    <!--using pre instead of p if status_msg is longer than 100 chars.. (TODO - count the number of lines)-->
                    <p class="help-block" ng-if="task.status_msg.length < 100">{{task.status_msg}}</p>
                    <div ng-if="task.status_msg.length > 100">
                        <br>
                        <pre style="font-size: 70%;">{{task.status_msg}}</pre>
                    </div>
                    <!--
                    <pre ng-if="bootlog">{{bootlog}}</pre>
                    -->

                    <small>
                        <p ng-if="task.request_date"> 
                            <i class="fa fa-clock-o" aria-hidden="true"></i> Requested at <time>{{task.request_date|date:'short'}}</time>
                        </p>
                        <p ng-if="task.start_date"> 
                            <i class="fa fa-clock-o" aria-hidden="true"></i> Started at <time>{{task.start_date|date:'short'}}</time>
                        </p>
                        <p ng-if="task.finish_date"> 
                            <i class="fa fa-clock-o" aria-hidden="true"></i> Finished at <time>{{task.finish_date|date:'short'}}</time>
                        </p>

                        <p ng-if="task.progress_key">
                            <a href="{{appconf.progress_url}}/#/detail/{{task.progress_key}}" target="{{task.progress_key}}">
                            <i class="fa fa-coffee" aria-hidden="true"></i>
                            <span ng-if="task._progress.progress">{{task._progress.progress*100|number}}% Completed</span>
                            <span ng-if="!task._progress.progress">Progress</span>
                            </a>
                            <small ng-if="task._progress">{{task._progress.msg}}</small>
                        </p>
                    </small>
                </div>
                <div class="col-md-7">
                    <div>
                        <span class="help-block clickable" ng-click="task.show_param = !task.show_param">
                            <i class="fa fa-caret-right" aria-hidden="true" ng-if="!task.show_param"></i>
                            <i class="fa fa-caret-down" aria-hidden="true" ng-if="task.show_param"></i>
                            Config / ENVs</span>
                        <div ng-if="task.show_param" class="slide-down">
                            <pre style="font-size: 60%;">{{task.config|json}}</pre>
                            <pre style="font-size: 60%;" ng-if="task._envs">{{task._envs|json}}</pre>
                        </div>
                    </div>

                    <div ng-if="task.products">
                        <span class="help-block clickable" ng-click="task.show_products = !task.show_products">
                            <i class="fa fa-caret-right" aria-hidden="true" ng-if="!task.show_products"></i>
                            <i class="fa fa-caret-down" aria-hidden="true" ng-if="task.show_products"></i>
                            Products</span>
                        <pre style="font-size: 60%;" ng-if="task.show_products" class="slide-down">{{task.products|json}}</pre>
                    </div>

                    <div ng-if="task.resource_id">
                        <span class="help-block clickable" ng-click="task.show_files = !task.show_files">
                            <i class="fa fa-caret-right" aria-hidden="true" ng-if="!task.show_files"></i>
                            <i class="fa fa-caret-down" aria-hidden="true" ng-if="task.show_files"></i>
                            Files</span>
                        <sca-product-raw ng-if="task.show_files" class="slide-down" taskid="task._id"></sca-product-raw>
                    </div>
                </div>
            </div>
        </div><!--row-->
        <pre style="font-size: 50%;" ng-if="task._show" class="slide-down">{{task|json}}</pre>
    </div><!--task-body-->
</div><!--task ng-repeat-->
