
sca-wf-taskdeps {
    .task {
        position: relative;
    } 
    .task-circle {
        font-size: 40pt;
        position: absolute;
        color: #ccc;
        left: -2px;
        top: -10px;
    }
    h3 {
        margin-top: 5px;
    }
    .task-header {
        margin-left: 20px;
        padding-left: 40px;
    }
    .task-body {
        margin-left: 20px;
        padding-left: 40px;
        padding-bottom: 10px;
    }
    .task-body-dep {
        border-left: 1px solid #ddd;
    }
}

.sca-wf-uploader {
    .file-uploaded:hover {
        background-color: #eee;
        cursor: pointer;
    }
}
