sca-wf-taskdeps {
  /*
    .clickable:hover {
        cursor: pointer;
        background-color: #eee; 
    }
    */
}
sca-wf-taskdeps .task {
  position: relative;
}
sca-wf-taskdeps .task-status {
  font-size: 20pt;
  position: absolute;
  left: 1px;
  top: -12px;
  padding: 3px;
  border-radius: 100%;
  background-color: #ccc;
  color: white;
}
sca-wf-taskdeps h4 {
  margin-top: 5px;
}
sca-wf-taskdeps .task-header {
  margin-left: 20px;
  padding-left: 40px;
}
sca-wf-taskdeps .task-body {
  margin-left: 20px;
  padding-left: 40px;
  padding-bottom: 10px;
}
sca-wf-taskdeps .task:not(:last-child) .task-body-dep {
  border-left: 1px solid #ddd;
}
.sca-wf-uploader .file-uploaded:hover {
  background-color: #eee;
  cursor: pointer;
}
